{% extends 'base/main.html' %}
{% block content %}
    <div class="header-bar">
        <div>
            <h1>Hello {{ request.user|title }}</h1>
            <h3 style="margin: 0;"> You have <i>{{ count }}</i> incomplete task{{ count|pluralize }}</h3>
        </div>


    {% if request.user.is_authenticated %}

        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}</div>
    <hr>
    <h1>My To Do List</h1>
    <button class="btn-success"><a href="{% url 'task_create' %}">Add Task</a></button>
    <form method="get">
        <input type="search" name="search-area" value="{{ search_input }}">
        <input type="submit" value="Search">

    </form>
    <table>
        <tr>
            <th>Item</th>
            <th></th>
            <th></th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>

                <td><a href="{% url 'task_edit' task.pk %}">Edit</a></td>
                <td><a href="{% url 'task_delete' task.pk %}">Delete</a></td>
            </tr>

        {% empty %}
            <h3>No Items in List</h3>
        {% endfor %}
    </table>
{% endblock content %}